body {
    background-color: antiquewhite;
    font-size: 20px;
    transition: 0.5s;
}

#chat1 {
    display: flex;
    position: relative;
    padding-top: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 660px;
    max-height: 660px;
    width: 650px;
}

#chat1 .card-header {
    display: block;
    position: relative;
    height: 10%;   
}

#chat1 .card-header .title {
    font-size: 30px;
    margin: auto;
}

#chat1 .card-body {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: auto;
    height: 90%;
}

#chat1 .card-body .message {
    display: flex;
    position: relative;
    padding: 2px;
    margin: 4px;
    width: 96%;
    word-wrap: break-word;
    border-radius: 10px;
    align-items: center;
}

#chat1 .form-outline {
    display: block;
    position: relative;
    height: 10%;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}

#chat1 .form-outline .form-control {
    display: block;
    position: relative;
    height: 100%;
    border-radius: 15px;
}

#chat1 .form-outline .form-control:focus {
    border-top: 0.125rem solid #39c0ed;
    border-bottom: 0.125rem solid #39c0ed;
    border-right: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .speaker {
    display: block;
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 60px;
    right: 10px;
}

#chat1 .form-outline .speaker img {
    display: block;
    position: relative;
    width: 80%;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
    border-radius: 50%;
    top: 4px;
}

#chat1 .form-outline .mic {
    display: block;
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 60px;
    left: 10px;
}

#chat1 .form-outline .mic img {
    display: block;
    position: relative;
    width: 80%;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
    border-radius: 50%;
    top: 4px;
}


#chat1 .form-outline .clear {
    display: block;
    position: absolute;
    bottom: 600px;
    right: 5px;
    padding: 5px;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

#chat1 .form-outline .clear:hover {
    background-color: #ccc;
}

.speaker-on {
    background-color: #44ed96;
}

.mic-on {
    background-color: #ef1a1a;
}

.bubble-avatar {
    display: none;
    opacity: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
}

.disappear {
    opacity: 0;
    display: none !important;
}

.appear {
    display: block;
    opacity: 1;
}

.toggle-down {
    opacity: 1;
}

.toggle-up {
    opacity: 0;
    transform: scaleY(0.1);
    height: 0;
}

.toggle-header {
    width: 100%;
    height: 100% !important;
    padding: 0 !important;
    margin: 0;
    border-radius: 50% !important;
}

.toggle-bubble {
    width: 65px !important;
    height: 65px !important;
    border-radius: 50% !important;
    padding-top: 0 !important;
}