<!DOCTYPE html>
<html>
<head>
    <title>Chat Gờ Pê Tê</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src = "../public/js/script.js" defer></script>
    <script type="text/javascript" src = "../public/js/feature.js" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <div class="row d-flex justify-content-center">

            <div class="card" id="chat1" style="border-radius: 15px;">
                <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0" style="border-top-left-radius: 15px; border-top-right-radius: 15px;" onclick="toggleCard()">
                    <img class="bubble-avatar" src="../public/img/ai.png" alt="bot avatar">
                    <div class="title mb-0 fw-bold"><strong>Chat Gờ Pê Tê</strong></div>
                </div>

                <div class="card-body">
                    <div class="message d-flex flex-row justify-content-start mb-4">
                        <img src="../public/img/ai.png"
                        alt="bot avatar" style="width: 45px; height: 45px; border-radius: 50%;">
                        <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(59, 192, 237,.2);">
                            <div class="small mb-0">Hello, I'm a pro chef. I can help you with anything relating to cooking :)</div>
                        </div>
                    </div>
                </div>

                <form class="form-outline" method="POST" autocomplete="off">
                    <input class="form-control" id="textAreaExample" name="input_text" type="text" placeholder="Ask me something" required>
                    <div class = "speaker" onclick="turnOnSpeaker()">
                        <img src="../public/img/speaker-icon.png" alt="speaker-icon">
                    </div>
                    <div class="mic" onclick="turnOnMic()">
                        <img src="../public/img/mic-icon.png" alt="mic">
                    </div>
                </form>
            </div>

        </div>
    </div>
</body>

</html>
